<button class='btn' id='logout' type="submit">Log Out</button>
<a href="/nutrition">
  <button class="btn" id="nutrition">nutrition</button>
</a>
{{!-- <a href="/exercise">
  <button class="btn" id="exercise">exercise</button>
</a> --}}

<a href="/addexercise"><button class="btn primary-btn" id="add-exercise">Add</button></a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Exercise</th>
      <th scope="col">Goal</th>
      <th scope="col">Completed</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">1</th>
      <td>1/16/23</td>
      <td>Running</td>
      <td>30</td>
      <td>Checkbox</td>
      <td>
        <a href="/updateexercise"><button class="btn secondary-btn" id="update-exercise">Update</button></a>
        <a href="/deleteexercise"><button class="btn danger-btn" id="delete-exercise">Delete</button></a>
      </td>
    </tr>
    {{#each planners as |planner|}}
    <tr>
      <th scope="row">{{planner.id}}</th>
      <td>{{planner.date}}</td>
      <td>{{planner.type}}</td>
      <td>{{planner.goal}}</td>
      <td>{{planner.completed}}</td>
      <td>
        <a href="/updateexercise"><button class="btn secondary-btn" id="update-exercise">Update</button></a>
        <a href="/deleteexercise"><button class="btn danger-btn" id="delete-exercise">Delete</button></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script src="/js/logout.js" type="text/javascript"></script>